# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
chroma_db/

# Node
node_modules/
build/
.env.local

# IDE
.vscode/
.idea/

# Logs
*.log
# Frontend env
frontend/.env
frontend/.env.local

# Backend env
backend/.env
backend/.env.local